# Credentials and configurations
.env

# Database caches
leads.db

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor specific configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
